* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* STYLING THE BODY */
body {
    background: linear-gradient(to right, black, rgb(251, 249, 249), rgb(214, 16, 16));
}

/* STYLING THE AUDIO TAG */

audio {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 0, 0, 0.392);
    /* color: rgb(136, 26, 26); */
    margin-top: 70px;
    background-size: 30px;
}

/* STYLING THE SIDE-NAV */

nav .container-fluid {
    position: fixed;
    height: 90px;
    width: 100%;
    background: linear-gradient(to right, black, rgb(251, 249, 249), rgb(214, 16, 16));
}

.navbar-brand {
    background: linear-gradient(to right, rgb(31, 30, 30), rgb(214, 16, 16));
    color: white;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-top: 40px;
}

.navbar-brand:hover {
    color: black;
}

.navbar-toggler {
    background-color: rgba(173, 26, 26, 0.63);
    border-radius: 30px;
    background-size: 20px;
    height: 45px;
    position: fixed;
    margin-top: 40px;

}

.navbar-toggler:hover {
    background-color: transparent;
    color: white;
}

.navbar-toggler-icon {

    font-size: 30px;
    text-align: center;
    color: white;
}

.offcanvas-end {
    width: 30%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.381), rgb(251, 249, 249), rgba(133, 13, 13, 0.611));
}

.offcanvas-title {
    font-weight: bold;
    font-size: 20px;
}

/* STYLING THE CLOSE BUTTON IN THE SIDE-NAV */

.btn-close {
    background-color: rgb(192, 15, 15);
    background-size: 20px;
    height: 30px;
    width: 30px;
}

.nav-item {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.nav-link {
    color: rgb(250, 246, 246);
}

.nav-link:hover {
    color: red;
}

/* STYLING THE SLIDER EFFECT */

.carousel-item img {
    border-radius: 20%;
    filter: drop-shadow(20px 10px 30px rgb(243, 238, 238))
}

/* MORE EFFECTS APPLIED FOR THE SIDE-NAV */
.dropdown-menu {
    background-color: rgba(248, 245, 245, 0.084);
    text-align: center;
    border-radius: 5%;
}

.dropdown-item {
    color: rgb(193, 29, 29);
}

.me-2 {
    border: 0;
}

.me-2:hover {
    border: 3px solid red;
}

.btn-outline-success {
    background-color: white;
    color: black;
}

.btn-outline-success:hover {
    background-color: red;
    color: whitesmoke;
}

/* STYLING THE HOME SECTION */
.home .container {
    width: 95%;
    margin-top: 20px;
}

/* STYLING THE ABOUT SECTION */
.About {
    background: linear-gradient(to right, rgb(128, 119, 119), rgb(149, 130, 130));
    margin-top: 40px;
    /* transition: .4s; */
}

.paye p {
    color: black;
    font-weight: bold;
}

.paye h2 {
    font-style: oblique;
    color: white;
}

.paye h2:hover {
    color: rgb(198, 37, 37);
}

.paye p span {
    color: rgb(171, 21, 21);
}

.try p {
    color: rgba(255, 0, 0, 0.516);
    font-size: 20px;
    font-style: italic;
}

/* STYLING THE BRANDS SECTION */
#brands {
    background: rgba(238, 233, 233, 0.916);
    /* width: 100%; */
    margin-top: 80px;
    /* width: 20px; */
    margin-bottom: 30px;
}

#brands h3 {
    text-align: center;
    margin-bottom: 40px;
    background-color: rgba(22, 23, 22, 0.536);
    height: 90px;
    filter: drop-shadow(0 50px 20px rgba(131, 31, 31, 0.555))
}

#brands .container {
    /* width: 100%; */
    /* align-items: center; */
    display: flex;
    flex: column;
    flex-wrap: wrap;
    gap: 1.7rem;
}

#brands .container .card {
    transition: .2s;
}

#brands .container .card:hover {
    height: 500px;
    transform: scale(1.2);
    color: white;
    background: rgba(98, 10, 10, 0.851);
    z-index: 2;

}

#brands .container .card-body {
    /* height: 300px; */
    flex-wrap: wrap;
}

#brands h3 {
    padding-top: 30px;
    text-align: center;
    color: white;
}

#brands h3 span {
    color: rgb(122, 29, 29);
}

#brands .container .card .card-body {
    height: fit-content;
}

#brands .container .card img {
    border-radius: 20%;
    filter: drop-shadow(0 50px 20px rgba(0, 0, 0, 0.555));
}

#brands .container .card .card-title {
    color: red;
}

#brands .container .card-body .btn-primary {
    background-color: rgb(160, 29, 29);
}

#brands .container .card-body .btn-primary:hover {
    background-color: white;
    color: black;
    transition: ease-in-out;
}

/* STYLING THE ALBUM SECTION */
#album {
    margin-top: 30px;
    width: 100%;
}

#album .paye h2 {
    color: white;
}

#album .paye h5 {
    color: white;
}

#album .paye h2 span {
    color: rgb(146, 21, 21);
}

#album .paye h5 span {
    color: rgb(130, 31, 31);
}

#album .col-md-6 img {
    margin-top: 30px;
    border-radius: 10%;
    filter: drop-shadow(20px 50px 20px rgb(245, 241, 241))
}

#album .paye p {
    font-size: 20px;
}

#album .paye h1 {
    color: white;
}

#album .paye h1 span {
    color: rgb(97, 15, 15);
}

#album .col-sm-6 .paye p {
    color: rgb(107, 37, 44);
}

/* STYLING THE VIDEO SECTION */

.video-player {
    margin-top: 50px;
    width: min(100px, 100%);
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    /* text-align: center; */
}

.video {
    /* background: rgba(153, 125, 125, 0.914); */
    border-radius: 1%;
    margin-top: 30px;
}



.container-fluid iframe {
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    filter: drop-shadow(0 50px 20px rgba(249, 248, 248, 0.678))
}

.container-fluid marquee {
    margin-top: 30px;
    color: rgb(3, 3, 3);
    font-size: 25px;
    font-weight: bold;
}

.video h1 {
    text-align: center;
    font-style: italic;
    color: rgba(16, 16, 16, 0.899);
}

/* STYLING THE COLLABS SECTION */
#collabs {
    background-color: rgba(163, 61, 61, 0.692);
    margin-top: 50px;
    width: 100%;
}

#collabs h2 {
    padding-top: 50px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

#collabs .container .card:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}

#collabs .card-group .card {

    /* width: 100%; */
    /* align-items: center; */
    display: flex;
    /* flex: column; */
    /* flex-wrap: wrap; */
    gap: 1.7rem;
}

/* STYLING THE DEAL SECTION */
#deal {
    width: 100%;
    filter: drop-shadow(0px 50px 20px rgba(0, 0, 0, 0.678));
    margin-top: 7rem;
    /* margin-left: 110px; */
    height: 20px;
    margin-bottom: 10rem;
    /* border-radius: 5%; */
}

#deal .col-md-12 {
    text-align: center;
    border-radius: 5%;
    height: 500px;

}

#deal .col-md-12 p {
    margin-top: 3rem;
    color: rgb(18, 18, 18);
    font-weight: 600;
    text-align: center;

}

#deal .col-md-12 h2 {
    color: #0e0d0d;
    font-weight: 800;
}

/* styling the button for the deal section  */
#deal button {
    margin-top: 4rem;
    margin-bottom: 10rem;
    text-decoration: none;
}

.butnn {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 2px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid rgb(20, 19, 19);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}


.butnn a {
    text-transform: none;
    text-decoration: none;
    color: rgb(71, 70, 70);
    font-size: 1.0rem;
}

.butnn:hover {
    color: black;
    background: linear-gradient(to right, black, rgb(251, 249, 249), rgb(214, 16, 16));
}

/* STYLING THE FOOTER SECTION */
#footer {
    /* text-align: center; */
    width: 100%;
    margin-top: 550px;
    background-size: 100%;
    background: linear-gradient(to right, rgba(241, 237, 237, 0.407), rgba(251, 249, 249, 0.411), rgba(214, 16, 16, 0.47));
}

#footer .box-container {
    /* text-align: center; */
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

#footer .fab {
    margin-right: 1.3rem;
    color: #131313;
}



#footer .box-container .box h4 {
    text-align: center;
    margin-top: 6rem;
    font-size: 1.5rem;
    color: #151414;
    padding: 1rem 0;

}


#footer .box-container .box p {
    text-align: center;
    color: #141313;
    /* font-size: 1rem; */
    font-weight: 500;

}


#footer .box-container .box h6 {
    color: #151515;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}


#footer .box-container .box img {
    margin-top: 2.5rem;
    text-align: center;
}


#footer .box-container .box h2 {
    margin-top: 5rem;
    font-size: 2.1rem;
    color: #6f2020;
    font-style: italic;
    padding: 1rem 0;
    font-weight: 600;
}

#footer .box-container .box .links {
    /* display: inline-flex; */
    font-size: 1.5rem;
    color: #3f3f3f;
    padding: 1rem 0;
    text-decoration: none;
    line-height: 1.0rem;
}


#footer .box-container .box .links:hover {
    color: #f6f4f4;
}


#footer .box-container .box i {
    font-size: 1.8rem;
    padding: 1rem 0;
    margin-top: 1rem;
    color: #666;
    text-align: center;
}


#footer .box-container .box i:hover {
    color: #fff;
    cursor: pointer;
}


/* .carousel-control-next{
    color: red;
    
} */
/* .About p{
    
} */


/* body{
      background:linear-gradient(to right,  rgb(251, 249, 249), rgb(214, 16, 16));     
    
} 



        #header{
    background:linear-gradient(to right,  rgb(251, 249, 249), rgb(214, 16, 16));
    width: 100%;
    height: 90px;
    position: relative;
}

#header marquee {
    text-align: center;
    color: rgb(21, 21, 21);
    margin-top: auto;
    margin-top: -5px;
    font-size: 25px;
    font-style: italic;
}

#ads a {
    margin-top: -5px;
}


        #hamburger {
            color: rgb(25, 25, 25);
            width: 95px;
            border-radius: 20%;
            text-align: center;
            background-color: rgba(151, 24, 24, 0.547);
            font-size: 30px;
            padding: 1rem;
            cursor: pointer;
            position: fixed;
            z-index: 2000;
        }

        .side-nav {
            position: fixed;
            top: 0;
            left: -250px;
            /* Hidden by default */
/* width: 250px;
            height: 100vh;
            background-color: #911313c7;
            color: white;
            transition: left 0.3s ease;
            padding-top: 60px;
            z-index: 1000;
        }

        .side-nav ul {
            list-style: none;
        }

        .side-nav ul li {
            padding: 35px 20px;
        }

        .side-nav ul li a {
            color: white;
            text-decoration: none;
            font-style: italic;
            font-size: 25px;
        }

        .side-nav.active {
            left: 0;
        }

        .image img{
          width: 100%;
          height: 70vh;
          margin-top: 20px;
          margin-bottom: 20px; 
        }  */


/* .home{
            background-color: rgba(243, 233, 233, 0.636);
        } */

/* .home .box-container .box img{
            width: 360px;
            align-items: center;
            margin-left: 20px; 
            margin-top: 70px;
            height: 250px;
            border-radius: 20px;
            filter: drop-shadow(0 50px 20px black);
        }

        .box{
            width: 200px;
            height: 300px;
            transition: .5s;
        }

        .home .box:hover{
            transform: scale(1.2);
            background: transparent;
            z-index: 2;
        }

        .home .box-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            /* width: 200px; */
/* justify-content: space-between; */
/* gap: 0.2rem; */
/* background:linear-gradient(to right,  rgb(251, 249, 249), rgb(214, 16, 16)); */
/* width: 100%;  */
/* }

        .home .box-container  h1{
            text-align: center;
        }

        .home  p{
            font-size: 15px;
            margin-left: 30px;
            margin-top: 50px;
        } */

/* .info{
            text-align: center; */
/* font-style: bold; */
/* font-size: 17px;
       */



/* styling the brand section */

/* .brands .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       }

       .brands .box-container .box{
        /* background-color: white; */
/* margin-top: 40px;
       }
        
       .brands .box-container .box img{
        margin-left: 40px;
        height: 90vh;
        border-radius: 20px;
       }

       .brands .box-container .box:hover{
        background: none;
       } */

/* .home .box-container .box{ */
/* justify-content: space-between; */
/* width:200px; */


/* outfits list */

/* .container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition:  transform .5s;
}

.fa-shopping-cart{
   width: 30px; 
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    width: 30px;
    display: flex;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.cartItem .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px black);
}

.cartItem{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.cartItem .item{
    background-color: rgba(195, 19, 19, 0.938);
    padding: 20px;
    border-radius:20px;
}

.cartItem .item h2{
    font-weight: 500;
    font-size: large;
    color: white;

}

.cartItem .item .price{
    letter-spacing: 7px;
    font-size: small;
    color: white;
}

.cartItem .item button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}


.cartTab{
    width: 400px;
    height: 700px;
    background-color: black; 
    color: white;
    position: fixed; 
    /* top: 0;
    right: 0;
    bottom: 0; */
/* inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px; 
    transition: .5s;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

/* body.showCart .container{
    transform: translateX(-250px);
} */

/* .cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;

}

 .cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.cartTab .btn button{
    background-color: red;
    border: none;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer; */
/* height: 45px; */
/* text-align: center; */
/* padding-right: 70px; */
/* } */

/* .cartTab .btn .close{
    background-color: white;

}

.close{
    font-size: 15px;
}

.checkout{
    font-size: 15px;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

/* .quantity{
    margin-right: 20px;
} */

/* .listCart .quantity span{
    display: inline-block; */
/* width: 25px;
    height: 25px;
    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer; */
/* gap: 100px;
     */
/* } */

/* .name{
    font-size: 10px;
    /* margin-left: 10px; */
/* } 

.totalPrice{
    font-size: 10px;
} */

/* .quantity{
    font-size: 10px; */
/* text-align: center; */
/* } */

/* .listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: white;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}  */